@tailwind base;
@tailwind components;
@tailwind utilities;


.min-600{
    min-width: 600px;
}

.image-edit{
    width: 300px;
    height: 300px;
}

.bg-yellow-500{
    background-color: rgb(234 179 8);
}


